@model Garage_2_0.Models.ReceiptViewModel

@{
    ViewData["Title"] = "CheckOut";
}

<h1>Kvitto för fordon med registreringsnummer @Html.DisplayFor(model => model.RegNr)</h1>

<div>
    @*<h4>Detaljvy över parkerat fordon</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ParkedIn)*@
            Parkerat
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedIn)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ParkedOut)*@
            Uttaget
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedOut)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Price)*@
            Pris per timme
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) Kr per timme
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Cost)*@
            Total kostnad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost) Kr
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka till listan över parkerade fordon</a>
</div>
