@model Garage_2_0.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljvy över parkerat fordon</h1>
<div>
    @*<h4>Detaljvy över parkerat fordon</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fordonstyp 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            Färg
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            Märke
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            Modell
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Antal hjul
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoWheels)
        </dd>
             <dt class = "col-sm-2">
            Starttid
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedIn)
        </dd>
        @*<dt class = "col-sm-2">
            Sluttid
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedOut)
        </dd>*@
        <dt class="col-sm-2">
            Parkerad tid
        </dt>
        <dd class="col-sm-10">
            <span>Dagar</span>:
            @DateTime.Now.Subtract(Model.ParkedIn).Days
            <span>Tim</span>:
            @DateTime.Now.Subtract(Model.ParkedIn).Hours
            <span>Min</span>:
            @DateTime.Now.Subtract(Model.ParkedIn).Minutes
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka till listan över parkerade fordon</a>
</div>
