@model IEnumerable<Garage_2_0.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista över Parkerade Fordon</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchTerm" placeholder="Sök på hela eller del av registreringsnumret" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"> Sök </button>
        </div>
    </div>
</form>

<span>
    <a asp-action="ParkVehicle">Parkera fordon</a>
</span>

<table class="table">                                                   @*// sort columns*@
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Fordonstyp", "Index1", new { sortOrder = ViewBag.FordonstypSortParm })
            </th>
            <th>
                @Html.ActionLink("Regnr", "Index1", new { sortOrder = ViewBag.RegnrSortParm })
            </th>
            <th>
                @Html.ActionLink("Färg", "Index1", new { sortOrder = ViewBag.ColorSortParm })
            </th>
            <th>
                @Html.ActionLink("Parkerad Tid", "Index1", new { sortOrder = ViewBag.DateSortParm })
            </th>
        </tr>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.ParkedOut == DateTime.Parse("9999-12-31"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        <span>Dagar</span>:
                        @DateTime.Now.Subtract(item.ParkedIn).Days
                        <span>Tim</span>:
                        @DateTime.Now.Subtract(item.ParkedIn).Hours
                        <span>Min</span>:
                        @DateTime.Now.Subtract(item.ParkedIn).Minutes
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detaljvy</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a> |
                        @if (item.ParkedOut != DateTime.Parse("9999-12-31"))
                        {<span>Utcheckad</span> }
                        else
                        {<a asp-action="CheckOut" asp-route-id="@item.Id">Checka ut</a>}
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
