@model IEnumerable<Garage_2_0.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista över Parkerade Fordon</h1>

<span>
    <a asp-action="ParkVehicle">Parkera fordon</a>
</span>
<table class="table">
    <thead>
        <tr>
            <th>Fordonstyp</th>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>Färg</th>
            <th>Parkerad Tid</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.ParkedOut == DateTime.Parse("9999-12-31"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @DateTime.Now.Subtract(item.ParkedIn)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljvy</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a> |
                @if (item.ParkedOut != DateTime.Parse("9999-12-31"))
                {<span>Utcheckad</span> }
                else
                {<a asp-action="CheckOut" asp-route-id="@item.Id">Checka ut</a>}
            </td>
        </tr>
    }
}
    </tbody>
</table>
