@model IEnumerable<Garage_2_0.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista över Parkerade Fordon</h1>

<p>
    <a asp-action="ParkVehicle">Parkera fordon</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Fordonstyp</th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
            <th>Färg</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljvy</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a> |
                <a asp-action="CheckOut" asp-route-id="@item.Id">Checka ut</a>
            </td>
        </tr>
}
    </tbody>
</table>
