@model Garage_2_0.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Color)*@
            Färg
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Brand)*@
            Märke
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.NoWheels)*@
            Antal hjul
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoWheels)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.ParkedIn)*@
            Parkering påbörjad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedIn)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.MemberId)*@
            Ägare
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.VehicleTypeClassId)*@
            Fordonstyp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypeClassId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
