@model IEnumerable<Garage_2_0.ViewModels.VehiclesViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista över parkerade fordon</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchTerm" placeholder="Sök på hela eller del av registreringsnumret" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"> Sök </button>
        </div>
    </div>
</form>


<p>
    <a asp-action="Create">Parkera fordon</a>
</p>
                                  
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Ägare", "Index1", new { columnToSort = "Member", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("Fordonstyp", "Index1", new { columnToSort = "Type", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("RegNr", "Index1", new { columnToSort = "RegNr", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("Färg", "Index1", new { columnToSort = "Color", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("Märke", "Index1", new { columnToSort = "Brand", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("Modell", "Index1", new { columnToSort = "Model", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("Antal hjul", "Index1", new { columnToSort = "NoWheels", sortState = ViewBag.sortState })
            </th>
            <th>
                @Html.ActionLink("Parkeringstid i minuter", "Index1", new { columnToSort = "ParkingTime", sortState = ViewBag.sortState })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeClass.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingTime)
                </td>


                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Mera fakta</a> |
                    <a asp-action="CheckOut" asp-route-id="@item.Id">Checka ut</a>
                </td>
            </tr>
        }
    </tbody>
</table>
