@model IEnumerable<Garage_2_0.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}


<h1>Parkerade fordon</h1>

<p>
    <a asp-action="Create">Parkera fordon</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                <span>Färg</span>
                @*@Html.DisplayNameFor(model => model.Color)*@
            </th>
            <th>
                <span>Märke</span>
                @*@Html.DisplayNameFor(model => model.Brand)*@
            </th>
            <th>
                <span>Modell</span>
                @*@Html.DisplayNameFor(model => model.Model)*@
            </th>
            <th>
                <span>Antal hjul</span>
                @*@Html.DisplayNameFor(model => model.NoWheels)*@
            </th>
            <th>
                <span>Starttid</span>
                @*@Html.DisplayNameFor(model => model.ParkedIn)*@
            </th>
            <th>
                <span>Ägarnamn</span>
                @*@Html.DisplayNameFor(model => model.MemberNamed)*@
            </th>
            <th>
                <span>Fordonstyp</span>
                @*@Html.DisplayNameFor(model => model.VehicleTypeClassId)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
