@model IEnumerable<Garage_2_0.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Medlemmar</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchTerm" placeholder="Sök på hela eller del av namnet" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"> Sök </button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Lägg till ny medlem</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Antal fordon
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Vehicles.Count
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Mer fakta</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
