@model IEnumerable<Garage_2_0.Models.VehicleTypeClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista över fordonstyper</h1>

<p>
    <a asp-action="Create">Lägg till en fordonstyp</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fordonstyp
            </th>
            <th>
                Pris/minut
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
